.Container {
    border: 2px solid var(--dark-color);
    border-bottom: 2em solid var(--dark-color);
    background-color: var(--light-color);
    padding: 3em;
    border-radius: 2em;
}

.Form {
    display: flex;
    justify-content: center;
    margin: 1.1em;
    padding: 0.2em;
    border-radius: 1em;
    width: 65vw;
    background-color: var(--dark-color);
    font-size: var(--medium-text);
    color: var(--semi-light-color);
}

.Form input {
    color: var(--light-color);
    flex-grow: 1;
    background-color: #f000;
    border: none;
    border-left: 3px solid var(--semi-dark-color);
    margin-left: 1em;
}

.Form input:focus-visible {
    outline: none;
}

.Submit-Btn {
    height: 1.9em;
    width: auto;
    margin-right: 0.1em;
}

.Form > *{
    line-height: 3em;
}

.Error {
    font-style: italic;
    color: var(--main-color);
    height: 1em;
    margin: 0;
}